* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App container */
.App{
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ), url("https://images.unsplash.com/photo-1593412578702-3332c86f3db3?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvcHBpbmclMjBwaG90b3xlbnwwfHwwfHx8MA%3D%3D");
    height: 150vh;
    background-size: contain;
  }
  


